<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
  <ion-button type="button" (click)="sort()">Sort</ion-button>

  <ion-list>
    <ion-item
      *ngFor="let pr of listService.person | search: terms | sort: {property: column, order: order};
      index as i"
    >
    <span>
      <strong>{{i+1}}</strong><br>
      Person: {{ pr.first_name }} {{ pr.last_name }} <br>
      Email: {{ pr.email }} <br>
      Gender: {{ pr.gender }} <br>
      Organisation: {{ pr.company_name }}
    </span>
    </ion-item>
  </ion-list>

</ion-content>

